.first-section__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 112%;
  color: #FFFFFF;
  opacity: 0.8;
  margin: 0 0 50px;
  max-width: 495px
}

@media (max-width: 980px) {
  .first-section__subtitle {
    font-size: 24px;
  }
}
