.optimal-block__second-block {
  display: grid;
  grid-template-rows: 112px;
  grid-template-columns: minmax(330px, 450px) 1fr minmax(196px, 296px) minmax(118px, 296px);
  align-items: center;
  justify-items: center;
  background: linear-gradient(271.57deg, rgba(0, 168, 142, 0.4) 77.05%, rgba(126, 255, 51, 0.4) 100%), #23D1AE;
}

@media (max-width: 980px) {
  .optimal-block__second-block {
    grid-template-rows: repeat(2, 1fr) repeat(2, 50px);
    grid-template-columns: minmax(328px, 450px);
    gap: 20px;
    padding: 20px 10px;
  }
}
